---
import Layout from "@/layouts/Layout.astro";
import QCMWrapper from "../components/QCMWrapper.astro";
import MainHeader from "../components/MainHeader.astro";
---

<Layout title="Site de fiches">
    <MainHeader><p>QCMs</p></MainHeader>

    <QCMWrapper/>

</Layout>