---
interface Props {
    href: string | URL
}

// Props destructuring
const { href } = Astro.props;
---

<!-- Single list item component with custom styling -->
<li class="list-item">
    <a href={href} class="d-block p-4 btn btn-outline-primary theme-item">
    <div class="theme-link text-color-primary">
        <slot/>
    </div>
    </a>
</li>

<style>
    /* Custom hover effect for list items */
    .theme-item {
        transition: background-color 0.2s ease,color 0.2s ease,transform 0.2s ease;
    }

    /* Darker background and increased shadow on hover */
    .theme-item:hover {
        transform: translateY(-3px); /* Slight lift effect on hover */
    }

    /* Larger font size and more vibrant color for links */
    .theme-link {
        font-size: 1.25rem; /* Larger font size */
        font-weight: 600; /* Bold text for better visibility */
    }

</style>
