---
import Layout from "./Layout.astro";
import MainHeader from "../components/MainHeader.astro";
interface Props {
    title: string;

}

const {title} = Astro.props;

---

<Layout title={title}>
    <div class="container">
        <!-- Heading styled for the Lux theme -->
        <MainHeader ><slot name="header"/></MainHeader>
        <hr class="mb-5 "/>
        <slot name="before-elements"/>
        <!-- Vertically ordered list with darker background and enhanced shadow -->
        <ul transition:name="mainList" transition:animate="initial" class="list-group list-group-flush">
           <!--suppress HtmlUnknownTag -->
            <slot name="elements" />
        </ul>
        <hr/>

        <slot name="after-elements"/>
    </div>
</Layout>